{{- if eq .chezmoi.os "windows" -}}
# vim: ft=ps1

$Modules = @(
  "PSWindowsUpdate",
  "PSFzf",
  "Terminal-Icons",
  "BurntToast"
)

$scoop = @(
  "curl",
  "neovim-nightly",
  "starship",
  "vieb",
  "brave",
  "firefox",
  "mpv"
)

Install-WindowsUpdate -AcceptAll

$Modules | ForEach-Object { Install-Module -Name $_ -Force }

if ( -not (Get-Command -Name scoop)){
# Install scoop
  iex "& {$(irm get.scoop.sh)} -RunAsAdmin"
}

scoop update

scoop add bucket extras
scoop add bucket versions

Write-Host "Starting Scoop Install..."
$scoop | ForEach-Object { writ-host ("Installing {0}..." -f $_ ); scoop install $_ }

{{- end -}}
