{{- if .is_wsl }}
#!/bin/sh
  if ! command -v powershell.exe &> /dev/null; then
    printf "%s" "Error, can't find powershell.exe"
    exit 1
  fi

  powershell.exe chezmoi init "https://github.com/simonhughxyz/dotfiles.git"
  powershell.exe chezmoi apply
{{- end }}
