{{- if eq .chezmoi.os "windows" -}}
# vim: ft=ps1

$Modules = @(
  "PSWindowsUpdate",
  "PSFzf",
  "Terminal-Icons",
  "BurntToast"
)

$winget = @(
  "cURL.cURL",
  "Starship.Starship",
  "Jelmerro.Vieb",
  "Mozilla.Firefox",
  "Brave.Brave",
  "mpv.net"
)


$Modules | ForEach-Object { Install-Module -Name $_ -Force }

Install-WindowsUpdate -AcceptAll

if (Get-Command "winget.exe" -ErrorAction SilentlyContinue){
  $winget | ForEach-Object { winget.exe install -e --id $_}
}

{{- end -}}
