{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh
# vim: ft=sh

export XDG_CONFIG_HOME="${HOME}/.config"

install_nix(){
  if ! nix doctor > /dev/null; then
    printf "%s\n" "Installing Nix..."
    curl -L https://nixos.org/nix/install | sh -s -- --daemon
  else
    printf "%s\n" "Nix already installed, skipping..."
  fi
}

{{ if eq .chezmoi.osRelease.id "void" -}}
# void specific code

printf "%s\n%s\n" "Detected Void Linux" "Installing packages..."

sudo xbps-install -Suv -y
sudo xbps-install -S -y \
    zsh \
    curl \
    wget \
    neovim \
    pass \
    pass-otp \
    lf \
    chafa \
    newsboat \
    starship \
    task \
    vit \
    trash-cli \
    yt-dlp \
    ts \
    zoxide \
    aria2 \
    python3-pipx \
    bat \
{{- if not .is_wsl }}
    mpv \
    zathura \
    zathura-pdf-mupdf \
    zathura-ps

# for qutebrowser profiles, see https://github.com/pvsr/qbpm
pipx install "git+https://github.com/simonhughxyz/qbpm.git#egg=qbpm"

{{ end -}}


printf "%s\n" "Setting ZDOTDIR..."
echo "ZDOTDIR=~/.config/shell" | sudo tee -a /etc/zsh/zshenv

{{- end -}}
{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
# OpenSuse Tumbleweed specific code

printf "%s\n%s\n" "Detected OpenSuse Tumbleweed Linux" "Installing packages..."

sudo zypper dup
sudo zypper install -y \
    zsh \
    curl \
    wget \
    neovim \
    password-store \
    pass-otp \
    lf \
    chafa \
    newsboat \
    starship \
    taskwarrior \
    vit \
    python311 \
    python311-pipx \
    yt-dlp \
    zoxide \
    jq \
    yq \
{{- if not .is_wsl }}
    mpv \
    zathura \
    zathura-plugin-pdf-mupdf \
    zathura-plugin-ps

{{- end }}

install_nix

nix-channel --update
nix-env -u '*'

nix-env -iA nixpkgs.ts

printf "%s\n" "Setting ZDOTDIR..."
echo "ZDOTDIR=~/.config/shell" | sudo tee -a /etc/zshenv

{{- end -}}
{{- end -}}
