* {
    font-family: "Monospace";
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    letter-spacing: 0px;
}

#waybar {
    background-color: #000000;
    color: #ffffff;
    padding: 0px 0px;   /* vertical 6px, horizontal 12px */
}

#tags {
  background-color: #000000;
  background: none;
  color: #bb00ff;
}

#tags button.focused {
  background: #9000ff;
  color: #ffffff;
}

#tags button.urgent {
  background-color: #cc241d;
  color: #ffffff;
}

#window {
  color: #ffffff;
  padding-left: 10px;
}

#window.focused {
  color: #ffffff;
}


#river-window,
#network,
#memory,
#wireplumber,
#custom-date,
#custom-time,
#battery {
  padding-left: 10;
}


#custom-time {
  color: #10d0ff;
}

#custom-date {
  color: #ff00ff;
}

#wireplumber {
  color: #10e070;
}


#wireplumber.muted {
  color: #dd1111;
  font-size: 19px;
}

#memory {
  color: #eeee00;
}

#battery.charging {
  color: #bb00ff;
}

#battery.discharging {
  color: #bb00ff;
}


#workspaces {
  background-color: #000000;
  background: none;
  color: #bb00ff;
}

#workspaces button {
  padding: 0;
  color: #bb00ff;
}

/* focused workspace (keyboard focus) */
#workspaces button.focused {
  background: #9000ff;
  color: #ffffff;
}

/* active workspace (visible on output) */
#workspaces button.active {
  color: #ffffff;
}

/* urgent workspace */
#workspaces button.urgent {
  background-color: #cc241d;
  color: #ffffff;
}

/* empty workspaces */
#workspaces button.empty {
  color: #bb00ff;
  opacity: 0.6;
}

/* workspaces on the same output as the bar */
#workspaces button.current_output {
  opacity: 1;
}
