[user]
	email = {{ git.work.email }}
	name = {{ git.work.name }}
  username = {{ git.work.username }}
	signingkey = ~/.ssh/id_ed25519_work
  
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers-work
