[user]
	email = {{ git.email }}
	name = {{ git.name }}
  username = {{ git.username }}
	signingkey = ~/.ssh/id_ed25519

[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed_signers

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[alias]
    s   = status
    P  = pull
    pl  = pull
    p  = push
    pa = !git remote | xargs -L1 git push
    paa = !git remote | xargs -L1 git push --all
    c  = commit
    a = add
    ca  = commit --amend
    b   = branch
    f   = fetch
    m   = merge
    C   = checkout
    Cb   = checkout -b
    CB   = checkout -b
    Cm  = checkout master
    CM  = checkout master
    sw = switch
    r  = restore
    sp  = log --all --graph --decorate --oneline --simplify-by-decoration
    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    d = diff
    ds = diff --staged
    dt = difftool
    dts = difftool --staged
    refresh = !git fetch origin && git reset --hard origin/$(git rev-parse --abbrev-ref HEAD)
    refreshmaster = !git fetch origin && git reset --hard origin/$(git remote show origin | awk '/HEAD branch/ {print $NF}')
    wipe = clean -fd
    wipex = clean -xfd
    delete-all-tags = "!f() { git tag -l | xargs -r git tag -d; }; f"
    delete-all-tags-remote = "!f() { \
        git tag -l | xargs -r git tag -d; \
        git tag -l | xargs -r -I {} git push origin :refs/tags/{}; \
    }; f"
    nuke-tags = "!git tag -l | xargs -r -I {} git push origin :refs/tags/{} && git tag -l | xargs -r git tag -d"
    delete-all-releases = "!f() { \
        gh release list --limit 1000 --json tagName -q '.[].tagName' | \
        xargs -r -I {} gh release delete {} -y; \
    }; f"
    nuke-releases = "!f() { \
        gh release list --limit 1000 --json tagName -q '.[].tagName' | \
        while read tag; do \
            gh release delete \"$tag\" -y; \
            git push origin :refs/tags/$tag; \
            git tag -d \"$tag\" 2>/dev/null; \
        done; \
    }; f"

[credential]
	helper = cache

[difftool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[commit]
	gpgsign = true

[gpg]
	format = ssh

[includeIf "gitdir:~/Work/"]
  path = ./config-work

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
